*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Otomanopee One', sans-serif;
}
section{
    height: 100vh;
}
nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px 30px; */
    padding: 8px 30px ;
    width: 100vw;
    background: rgba(36, 36, 36, 0.8);
    z-index: 1;
}
nav a{
    color: #fff;
    margin-left: 10px;
    z-index: 10;
}
nav a:hover{
    color: rgb(135, 222, 157);
}
#logo img{
    width: 150px;
}
#home{
    background-image: url("images/home.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
#bankName{
    font-size: 2em;
    position: absolute;
    top: 47%;
    left:70%;
    color: white;
    text-align: center;
}
#bankHover :hover{
    color: rgb(135, 222, 157);
}
#but{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}
#but:hover{
    background-color: rgb(135, 222, 157);
    outline: none;
    border: none;
}
#services{
    position: relative;
    z-index: 0;
}
#serviceHeading{
    font-size: 2em;
}
#services img{
    width: 300px;
    height: 200px;
}
#serviceContent{
    padding-top: 120px;
    text-align: center;

}
#serviceCards{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 300px;
    box-shadow: 1px 1px 1px 1px gray;
}
#serviceCards div a{
    display: block;
    /* margin-top: 10px; */
    padding: 10px 20px;
    background-color: white;
    color: black;
}
.black{
    background-color: black;
    position: absolute;
    height: 40vh;
    bottom: 0;
    z-index: -1;
    width: 100%;
}
#about{
    /* height: 100vh; */
    /* background-color: white; */
    position: relative;
}
#about div{
    padding-top: 100px;
    color: black;
    text-align: center;
}
#about div h1{
    font-size: 2em;
}
#contact{
    position: relative;
    z-index: -1;
}
#contactDiv{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
#contact img{
    width: 500px;
    padding-top: 5%;
    margin-left: 80px;
}
#contactHeading{
    font-size: 2em;
    padding-top: 100px;
    text-align: center;
}
#address{
    padding-top: 40px;
    padding-right: 300px;
    align-items: center;
    line-height: 80px;
}
#adWhite{
    z-index: 1;
    color: white;
}
#address i{
    font-size: 40px;
    opacity: 0.6;
    padding: 10px;
    position: relative;
    top: 10px;
}
footer{
    position: absolute;
    padding: 10px 20px;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer p{
    padding: 0 5px;
    font-size: 8px;
    color: rgba(134, 133, 133, 0.6);
}