*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --accent-color: #641BFF;
    --heading-font: 'Lato', sans-serif;
    --body-font: 'Poppins', sans-serif;
}
body {
    background-color: #F8F9FB;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
}
.priceSection {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    margin: 1rem;
}
.priceColumn {
    background-color: white;
    box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
    padding: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 267px;
    border-radius: 8px;
}
.priceColumn.popular {
    position: relative;
    background-color: var(--accent-color);
    color: white;
    box-shadow: 0 7px 30px rgba(52, 31, 135, 0.3);
    margin-top: -1.5rem;
    padding-top: 3.5rem;
    margin-bottom: -1.5rem;
    padding-bottom: 3.5rem;
}
.priceColumn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.priceColumn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.priceHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--heading-font);
    font-weight: bold;
}
.price {
    display: flex;
    font-size: 3.5rem;
}
.dollar {
    font-size: 1rem;
    margin-top: .5rem;
}
.month {
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: .6rem;
}
.planName {
    font-size: .9rem;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0;
}
.divider {
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.priceColumn.popular .divider {
    background-color: rgba(255, 255, 255, .2);
}
.feature {
    display: flex;
    align-items: center;
    margin: .75rem;
}
.feature img {
    height: 1.1em;
    width: 1.1em;
    margin-right: .5rem;
}
.feature.inactive {
    color: #999;
    text-decoration: line-through;
}
.tag {
    position: absolute;
    top: .5rem;
    left: .5rem;
    right: .5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--heading-font);
    font-weight: bold;
}
.btn {
    border: none;
    background-color: var(--accent-color);
    width: 100%;
    padding: .75rem 1rem;
    color: white;
    font-family: var(--heading-font);
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 2.5rem;
    transition: 100ms;
    transform: scale(1);
}
.btn:hover, .btn:focus {
    transform: scale(1.1);
}
.priceColumn.popular .btn {
    color: var(--accent-color);
    background-color: white;
}