*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    margin: 0 auto;
    padding-bottom: 50px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 40px;
    grid-template-areas: ". content content content content .";
}
.content {
    grid-area: content;
    max-width: 1000px;
    width: 100%;
}
.darkHeader {
    background-color: #005681;
    color: white;
    position: relative;
    z-index: 1;
    padding-top: 20px;
}
.lightHeader {
    background-color: #00AAFF;
    color: white;
    padding-top: 500px;
    margin-top: -500px;
}
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}
.brandLogo {
    width: 50px;
    margin-right: .5rem;
}
.title {
    font-size: 3rem;
    text-align: center;
}
.subtitle {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}
.darkDivider {
    background-image: url("icons/darkbg.svg");
    height: 100px;
    margin-top: -5px;
    background-position: bottom left;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.lightDivider {
    background-image: url("icons/lightbg.svg");
    height: 150px;
    margin-top: -5px;
    background-position: bottom left;
    background-size: cover;
}
.emailForm {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.emailForm input {
    background-color: white;
    color: #005681;
    font-size: 1.25rem;
    border: 2px solid black;
    border-radius: .5em;
    padding: .5em 1em;
    margin-right: 1em;
    outline: none;
    flex-grow: 1;
    max-width: 500px;
}
.emailForm input:focus {
    background-color: #DCF3FF;
}
.emailForm button {
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: .5em;
    padding: .5em 1em;
    max-width: 250px;
    cursor: pointer;
}
.emailForm button:focus,
.emailForm button:hover {
    background-color: #333;
}